<div class="container" >
    <div classe="row" id="logo">
            <img class=" col-4 offset-4" src='/src/images/DTA.png' alt='Image presentateur'/>
    </div>

    <div classe="row ">
        <div class="col-4 offset-5">
            <h2><g>Conférence</g></h2></br>
            <label>01/09/2015 - 03/09/2015</label>
        </div>
    </div>

    <div classe="row" id="choix">
        <div class="row col-4 offset-4">
            <a class="btn btn-primary col-12" href="#speakers-list" role="button">Voir les présentateurs</a>
            
        </div>
        <div class="row col-4 offset-4">
                <a class="btn btn-primary col-12" href="#sessions-list" role="button">  Voir les sessions  </a>
        </div>
            
    </div>

</div>