<header>
    <meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insert title here</title>
</header>

<div class="row">
<nav class="navbar navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link"
                href="/paie/mvc/employes/lister">Employées
                    <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item"><a class="nav-link"
                href="/paie/mvc/bulletins/lister">Bulletins</a></li>
        </ul>
    </div>
</nav>
</div>

<section id="main-view">
  Ici le contenu principal en attente de chargement
</section>
<footer>Ici bientôt un pied de page</footer>
